lora-post-app-server/flows.json
[
    {
        "type": "tab",
        "id": "7951b5b2.48999c",
        "label": "DB",
        "_def": {
            "defaults": {
                "label": {
                    "value": ""
                }
            }
        }
    },
    {
        "id": "33f9bed0.c8de22",
        "type": "bigmongo",
        "z": "7951b5b2.48999c",
        "uri": "mongodb://127.0.0.1/post",
        "name": "",
        "options": "",
        "parallelism": "-1",
        "warncodes": "",
        "ignoredcodes": ""
    },
    {
        "id": "f376327f.9e658",
        "type": "websocket-listener",
        "z": "7951b5b2.48999c",
        "path": "wss://eu1.loriot.io/app?id=BE7A04B7&token=O6ZgptcNoZw6d838drY6Ug",
        "wholemsg": "false"
    },
    {
        "id": "86feef39.1742c",
        "type": "bigmongo in",
        "z": "7951b5b2.48999c",
        "service": "_ext_",
        "configNode": "33f9bed0.c8de22",
        "name": "history",
        "collection": "history",
        "operation": "insert",
        "x": 490,
        "y": 320,
        "wires": [
            [
                "28ee2072.65f51"
            ],
            [
                "1aced826.416098"
            ]
        ]
    },
    {
        "id": "5f52e560.f7020c",
        "type": "inject",
        "z": "7951b5b2.48999c",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 120,
        "y": 320,
        "wires": [
            [
                "3da9c1af.7b886e"
            ]
        ]
    },
    {
        "id": "3da9c1af.7b886e",
        "type": "function",
        "z": "7951b5b2.48999c",
        "name": "",
        "func": "msg.payload = {'data': msg.payload}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 320,
        "wires": [
            [
                "86feef39.1742c",
                "385ca1cd.06080e"
            ]
        ]
    },
    {
        "id": "28ee2072.65f51",
        "type": "debug",
        "z": "7951b5b2.48999c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 930,
        "y": 260,
        "wires": []
    },
    {
        "id": "1aced826.416098",
        "type": "debug",
        "z": "7951b5b2.48999c",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 930,
        "y": 380,
        "wires": []
    },
    {
        "id": "385ca1cd.06080e",
        "type": "debug",
        "z": "7951b5b2.48999c",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 510,
        "y": 400,
        "wires": []
    },
    {
        "id": "c07e3a92.c6bdf8",
        "type": "websocket in",
        "z": "7951b5b2.48999c",
        "name": "loriot",
        "server": "f376327f.9e658",
        "client": "",
        "x": 270,
        "y": 220,
        "wires": [
            [
                "f19ef72d.aea048",
                "2c4c3977.cab276"
            ]
        ]
    },
    {
        "id": "f19ef72d.aea048",
        "type": "debug",
        "z": "7951b5b2.48999c",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 510,
        "y": 180,
        "wires": []
    },
    {
        "id": "edf71aad.ccec68",
        "type": "catch",
        "z": "7951b5b2.48999c",
        "name": "",
        "scope": null,
        "x": 180,
        "y": 80,
        "wires": [
            [
                "5c0fcbba.7f54b4"
            ]
        ]
    },
    {
        "id": "5c0fcbba.7f54b4",
        "type": "debug",
        "z": "7951b5b2.48999c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 370,
        "y": 80,
        "wires": []
    },
    {
        "id": "2c4c3977.cab276",
        "type": "json",
        "z": "7951b5b2.48999c",
        "name": "",
        "x": 490,
        "y": 240,
        "wires": [
            [
                "86feef39.1742c"
            ]
        ]
    },
    {
        "id": "e0b191dc.a2808",
        "type": "comment",
        "z": "7951b5b2.48999c",
        "name": "Timestamp for test",
        "info": "",
        "x": 150,
        "y": 280,
        "wires": []
    }
]